@use "variables" as *;

body {
  background-color: white;
  margin: auto;
  box-shadow:none;
  color: rgb(86, 39, 39);
  height: 1px;
  color: rgb(45, 84, 175);
  background-image: url(../images/bg.jpg);
  background-position: center;
}
  


.recipes-section h2 {
  background-color: $brand-color;
  color: $text-color-light;
  
}